{% extends 'public/base.html' %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div class='blog-wrapper'>
	<div class='blog-index-page'>
		<div class='posts'>
		{% for post in page.get_children %}
			<div class='post'>
				<h2><a href='{% pageurl post %}'>{{ post.title }}</a></h2>
				{{ post.specific.body }}
			</div>
			<a class='read-more' href='{% pageurl post %}'>Read More</a>
		{% endfor %}
		</div>
		{% include 'blog/sidebar.html' %}
	</div>
</div>
{% endblock %}
