{% extends 'public/base.html' %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div class='blog-index-page'>
	{% image page.image width-2000 as backgroundImage %}
	<div class='header'
			 style="background-image: url('{{ backgroundImage.url }}');">
		<div>
			<h1 class="headline">{{ page.headline }}</h1>
			<h2 class="subheadline">{{ page.subheadline }}</h2>
		</div>
	</div>
	<div class="categories">		
		{% for category in categories %}
			<a href="/blog?category={{category.id}}">{{ category.name }}</a>
		{% endfor %}
	</div>
	<div class='container'>
		<div class='blog-tiles'>
			{% for post in blog_posts %}
			<a href='{% pageurl post %}' class='tile'>
				<!--
					{% image post.specific.image max-2000x2000 %}
				-->
				<div class="tile__image" style="background-image: url('/media/images/{{ post.specific.image }}');" >
					<span class="">{{ post.category.name }}</span>
				</div>

				<h2>{{ post.title }}</h2>
				<h3>By {{ page.owner.full_name }}</h3>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
