{% extends 'public/base.html' %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class='container blog-page'>
	<div class='blog-header'>
		<h1>{{ page.title }}</h1>
		<div class='byline'>
			<span>By {{ page.owner.full_name }}</span>
			<time datetime='{{ page.first_published_at }}'>{{ page.first_published_at }}</time>
		</div>
	</div>

	{% if page.image %}
	<div class='header-image'>
		{% image page.image width-2000 %}
	</div>
	{% endif %}

	<div class='blog-wrapper'>
		<div class='blog-content'>
			{% for item in page.body %}
				{% if item.block_type == 'image' %}
					{% image item.value width-2000 %}
				{% else %}
					{{ item }}
				{% endif %}
			{% endfor %}
		</div>
		{% include 'blog/sidebar.html' %}
	</div>


</div>
{% endblock %}
