.blog-wrapper {
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 195px);
}
.blog-index-page {
	img {
		object-fit: cover;
		width: 100%;
	}
	.header {
		background-fit: cover;
		background-position: center center;
		color: $white;
		height: 40vh;
		text-align: center;

		display: flex;
		align-items: center;
		justify-content: center;
		h2.subheadline {
			font-size: 21px;
		}
	}

	.blog-tiles {
		display: flex;
		flex-wrap: wrap;

		.tile {
			box-shadow: 2px 2px 2px rgba(0,0,0,.25);
			box-sizing: border-box;
			max-width: 350px;
			margin: 16px;
			img {
				width: 350px;
				height: 200px;
			}
			h2, h3 {
				padding: 0px 16px
			}

			h2 {
				font-size: 18px;
				height: 60px;
			}
		}
	}
}

.blog-page {
	flex-grow: 1;
	justify-content: center;
	padding: 0px 32px;
	text-align: center;
	max-width: 1182px;

	img {
		object-fit: cover;
		height: auto;
		object-position: 50% 50%;
		max-width: 100%;
		width: 100%;
	}
	.blog-header {
		margin-bottom: 32px;
		h1 {
			font-weight: 700;
			font-size: 36px;
		}
	}
	.blog-wrapper {
		padding: 32px 0px;
		max-width: $max-width;
		text-align: left;

		.blog-content {
			width: 800px;
		}
	}
}
