footer {
	border-top: 1px solid #e5e5e5;
	padding: 32px;

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.contact-item {
		align-items: center;
		display: flex;
		justify-content: center;
		text-align: center;
		img {
			display: block;
			object-fit: contain;
			height: 60px;
		}
	}
}
