footer {
	background: $secondary-light-blue;
	padding: 40px 16px;
	.footer__bottom {
		color: $white;
		display: flex;
		width: 100%;
		justify-content: space-between;

		a {
			color: $white;
		}
	}
}
