.homepage-hero {
	color: $primary-text;
	overflow-x: hidden;
	font-family: "OpenSans--Bold";
	display: flex;
	align-content: center;
	justify-content: center;

	.hero__text{
		text-align: center;
		margin: 40px auto;
		max-width: 960px;
		padding: 16px;
		display: flex;
		flex-direction: column;

		h1 {
			color: $primary;
	
			span {
				color: $secondary-light-blue;
			}
		}

		p {
			max-width: 50em;
			margin: auto;
		}

		.button--primary {
			margin: 40px auto 40px auto;
		}
	}

	.hero__image {
		margin: 16px;
		max-width: 1120px;
		z-index: 99;
		
		img {
			position: relative;
			margin: auto;
			width: 100%;
			box-sizing: border-box;
			z-index: 99;
		}
	}
}

.homepage-container {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	padding: 64px;

	&.media {
		background-color: $light-gray;
		position: relative; 
		margin-top: -200px;
		padding: 264px 0 64px;
		z-index: 1;
	}

	&.purchases {
		background-color: $blue;
		color: $white;
	}
	&.know-who {
		background-color: $white;
		color: $dark-gray;
	}
	&.contact {
		background-color: $green;
		color: $white;
		a {
			border: 1px $white solid;
			color: $white;
			display: block;
			font-size: 18px;
			padding: 16px 32px;
			margin: 32px auto;
			max-width: 170px;
			text-transform: uppercase;
			&:hover {
				background-color: $white;
				color: $dark-gray;
				font-weight: bold;
			}
		}
	}

	.section-content {
		max-width: $max-width;
		display: flex;
		img, .container-text {
			height: 400px;
			width: 600px;
			max-width: 100%;
		}

		img {
			object-fit: cover;
		}
		.container-text {
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			padding: 32px;
			text-align: center;
			h2 {
				font-size: 32px;
			}
		}
	}
	&.media>.section-content{
		display: flex;
		flex-wrap: wrap;
	}
}

.media__text {
	width: 100%;
	padding: 16px;
	text-align: center;
}
.media__sources {
	max-width: $max-width;
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;

	span {
		margin: 24px;
		display: flex;
		padding: 40px 80px;
		max-width: 300px;
		background: $gray;
		text-align: center;
		display: flex;
		align-content: center;
	}
}

.cta {
	display: flex;
	box-sizing: border-box;
	padding: 64px;
	text-align: center;
	position: relative;

	.cta__container{
		margin: 0 auto;


		.button--wrap {
			margin: 4em;
		}
	}

}