.homepage-hero {
	color: $white;
	overflow-x: hidden;
	font-family: "Open Sans";

	img.hero-image {
		filter: brightness(50%);
		object-fit: cover;
		object-position: center center;
		height: 100vh;
		width: 100vw;
	}
	.hero-overlay {
		position: absolute;
		top: 70px;
		left: 0;
		height: 100vh;
		z-index: 10;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		text-align: center;

		img.overlay-logo {
			max-height: 25vh;
			width: 100%;
		}
		h1 {
			letter-spacing: 1px;
		}
	}
}

.homepage-container {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	padding: 64px;

	&.purchases {
		background-color: $blue;
		color: $white;
	}
	&.know-who {
		background-color: $white;
		color: $dark-gray;
	}
	&.contact {
		background-color: $green;
		color: $white;
		a {
			border: 1px $white solid;
			color: $white;
			display: block;
			font-size: 18px;
			padding: 16px 32px;
			margin: 32px auto;
			max-width: 170px;
			text-transform: uppercase;
			&:hover {
				background-color: $white;
				color: $dark-gray;
				font-weight: bold;
			}
		}
	}

	.section-content {
		max-width: $max-width;
		display: flex;
		justify-content: center;
		img, .container-text {
			height: 400px;
			width: 600px;
			max-width: 100%;
		}

		img {
			object-fit: cover;
		}
		.container-text {
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			padding: 32px;
			text-align: center;
			h2 {
				font-size: 32px;
			}
		}
	}
}
