nav {
	background-color: $white;
	width: 100%;

	align-items: center;
	display: flex;
	justify-content: space-between;

	height: 70px;
	box-sizing: border-box;
	padding: 16px;
	position: sticky;
	.left-side, .right-side {
		a {
			padding: 0px;
			text-decoration: none;
			text-transform: uppercase;
			img {
				object-fit: contain;
			}
		}
	}
	.right-side {
		a {
			color: $dark-gray;
			font-family: "Open Sans";
			font-weight: 700;
			padding: 0 8px;
			
			&:hover {
				color: $secondary-light-blue;
			}
		}
	}
	.left-side {
		img {
			max-width: 200px;
			max-height: 50px;
		}
	}
}
 