{% load static %}
<html lang='en'>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WN29VS2');</script>
		<!-- End Google Tag Manager -->
		<title>Impakt</title>
		<link rel="stylesheet" type="text/css" href='{% static 'style.css' %}'/>

		<link rel="shortcut icon" type="image/png" href='{% static 'icons/favicon.ico' %}'/>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Impakt Ethical Shopping Browser Extension">
		<meta name="author" content="Impakt Ethical Shopping Browser Extension">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<meta property="og:type" content="website">
		<meta property="og:url" content="https://impakt.app/">
		<meta property="og:title" content="Impakt Ethical Shopping Browser Extension">
		<meta property="og:image" content="https://impakt.app/static/icons/logoBlueDark.svg">
		<meta property="og:description" content="The Ethical Shopping Companion">
		<meta property="og:site_name" content="Impakt">
		<meta property="og:locale" content="en_US">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">

		<meta name="twitter:card" content="Impakt">
		<meta name="twitter:site" content="@site_account">
		<meta name="twitter:creator" content="@individual_account">
		<meta name="twitter:url" content="https://impakt.app">
		<meta name="twitter:title" content="Impakt">
		<meta name="twitter:description" content="The ethical shopping browser extension">
		<meta name="twitter:image" content="https://example.com/image.jpg">
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN29VS2"
										height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		{% include 'public/nav.html' %}
		{% block content %}{% endblock %}
		{% include 'public/footer.html' %}
	</body>
</html>
