{% extends 'public/base.html' %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
<div class='contact-header'>
	<h1>Contact Us</h1>
</div>

<div class='contact-wrapper'>
	<div class='contact-text'>
		{% if page.image %}
			{% image page.image width-2000 %}
		{% endif %}
	</div>
	<div class='contact-form'>
	{% block form_area %}
		{{ page.intro|safe }}
		<hr>
		<form action="{% pageurl page %}" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input type='submit'>
		</form>
	{% endblock %}
	</div>
</div>
{% endblock %}
