{% extends 'public/base.html' %}
{% load staticfiles %}

{% block content %}
<div class='homepage-hero'>
	<div class=''>
		<div class='hero__text'>
			<h1>Your <span>ethical</span> shopping companion</h1>
			<p>Impakt helps you align your online shopping to your values. It's a browser extension that keeps you informed about when companies fall short of ethical standards, and lets you adjust your purchasing patterns accordingly.</p>
			<a href="#" class="button--primary">Add to Chrome</a>
		</div>
		<div class="hero__image">
			<img src='{% static 'images/screenshots/knowWho.png' %}'/>
		</div>
	</div>
</div>

<section class='homepage-container media'>
	<div class='section-content'>
		<div class='media__text'>
			<h2 class='media__quote'>“This Browser Extension Will Make You A More Ethical Shopper.”</h2>
			<p>- Fast Company</p>
		</div>
		<img class='media-sources' src='{% static 'logos/logos.png' %}'/>
	</div>
</section>


<section class='cta'>
	<div class='cta__container'>
		<h4>Thousands of members are already making an Impakt.</h4>
		<h2>Install the extension today, and start getting the information you need to shop online.</h2>
		<div class="button--wrap">
			<a href="#" class="button--secondary">Add to Chrome</a>
		</div>
		<p><small>(It's totally free)</small></p>
	</div>
</section>

{% endblock %}
